<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-4 info-box">
				<a href="https://www.umb.sk/o-nas/informacie/fakulty-umb/" target="_blank">
					<div class="info-img info-1"></div>
					<h3 class="info-title">Fakulty UMB</h3>
				</a>
			</div>
			<div class="col-md-4 info-box">
				<a href="http://mail.studenti.umb.sk/" target="_blank">
					<div class="info-img info-2"></div>
					<h3 class="info-title">UMB mail</h3>
				</a>
			</div>
			<div class="col-md-4 info-box">
				<a href="https://ais2.umb.sk/" target="_blank">
					<div class="info-img info-3"></div>
					<h3 class="info-title">UMB AIS</h3>
				</a>
			</div>
		</div>				
	</div>
</div>
